.choices-container {
  margin: 1em 0;
}
.choice-container {
  display: flex;
  margin: 0.5em 0;
  width: fit-content;
  align-items: center;
}
.choice-text-container {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}
.choice-decoration-container {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: #ccc;
  border-radius: 2em;
  flex-shrink: 0;
}
.choice-decoration-container > svg {
  font-size: 1.5em;
}
.choice-can-select-multiple .choice-decoration-container {
  border-radius: 0.2em;
}
.choice-container:not(.disabled-choice) {
  cursor: pointer;
}
.checked-choice.correct-choice.fully-correctly-answered .choice-decoration-container {
  background: #11b811;
  color: white;
  border-color: #11b811;
}
.checked-choice.correct-choice:not(.fully-correctly-answered) .choice-decoration-container {
  background: #97b811;
  color: white;
  border-color: #97b811;
}
.correct-choice:not(.checked-choice):not(.unanswered) .choice-decoration-container {
  background: transparent;
  color: #118ab8;
  border-color: inherit;
}
.checked-choice:not(.correct-choice) .choice-decoration-container {
  background: #b81111;
  color: white;
  border-color: #b81111;
}
.unanswered.correct-choice .choice-decoration-container {
  background: transparent;
  color: #b81111;
  border-color: inherit;
}
